In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pandas in c:\users\desktop\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\desktop\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\desktop\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\desktop\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\desktop\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\desktop\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd
import numpy as np

In [3]:
#Retrieve all records from the Olympics table
df = pd.read_csv("Olympics.csv")
df

FileNotFoundError: [Errno 2] No such file or directory: 'Olympics.csv'

In [ ]:
#Retrieve only the Athlete names and the Medals they won
athelete_medals = df[['name','medal']]
athelete_medals

                                  name medal
0                            A Dijiang   NaN
1                             A Lamusi   NaN
2                  Gunnar Nielsen Aaby   NaN
3                 Edgar Lindenau Aabye  Gold
4             Christine Jacoba Aaftink   NaN
..                                 ...   ...
95                Olav Augunson Aarnes   NaN
96                 Mika Lauri Aarnikka   NaN
97                 Mika Lauri Aarnikka   NaN
98  Jamale (Djamel-) Aarrass (Ahrass-)   NaN
99              Dagfinn Sverre Aarskog   NaN

[100 rows x 2 columns]

In [ ]:
#Count the total number of athletes in the dataset
total_atheletes = df['name'].nunique()
total_atheletes

35

In [ ]:
#Find all records of athletes who won a Gold medal
gold_medal_atheletes = df[df['medal'] == 'Gold']
gold_medal_atheletes

,id,name,sex,age,height,weight,team,noc,games,year,season,city,sport,event,medal
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
42,17,Paavo Johannes Aaltonen,M,28,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,Gold
44,17,Paavo Johannes Aaltonen,M,28,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Horse Vault,Gold
48,17,Paavo Johannes Aaltonen,M,28,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Pommelled Horse,Gold
60,20,Kjetil Andr Aamodt,M,20,176.0,85.0,Norway,NOR,1992 Winter,1992,Winter,Albertville,Alpine Skiing,Alpine Skiing Men's Super G,Gold
73,20,Kjetil Andr Aamodt,M,30,176.0,85.0,Norway,NOR,2002 Winter,2002,Winter,Salt Lake City,Alpine Skiing,Alpine Skiing Men's Super G,Gold
76,20,Kjetil Andr Aamodt,M,30,176.0,85.0,Norway,NOR,2002 Winter,2002,Winter,Salt Lake City,Alpine Skiing,Alpine Skiing Men's Combined,Gold
78,20,Kjetil Andr Aamodt,M,34,176.0,85.0,Norway,NOR,2006 Winter,2006,Winter,Torino,Alpine Skiing,Alpine Skiing Men's Super G,Gold
79,21,Ragnhild Margrethe Aamodt,F,27,163.0,NaN,Norway,NOR,2008 Summer,2008,Summer,Beijing,Handball,Handball Women's Handball,Gold

In [ ]:
#List all athletes who won Silver, ordered by the Year they won it
silver_medal_atheletes = df[df['medal'] == 'Silver']
silver_medal_Order = silver_medal_atheletes.sort_values(by = 'year')
silver_medal_Order

,id,name,sex,age,height,weight,team,noc,games,year,season,city,sport,event,medal
86,25,Alf Lied Aanning,M,24,NaN,NaN,Norway,NOR,1920 Summer,1920,Summer,Antwerpen,Gymnastics,"""Gymnastics Men's Team All-Around, Free System""",Silver
63,20,Kjetil Andr Aamodt,M,22,176.0,85.0,Norway,NOR,1994 Winter,1994,Winter,Lillehammer,Alpine Skiing,Alpine Skiing Men's Downhill,Silver
67,20,Kjetil Andr Aamodt,M,22,176.0,85.0,Norway,NOR,1994 Winter,1994,Winter,Lillehammer,Alpine Skiing,Alpine Skiing Men's Combined,Silver
92,30,Pepijn Aardewijn,M,26,189.0,72.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Rowing,Rowing Men's Lightweight Double Sculls,Silver

In [ ]:
#Count how many Gold, Silver, and Bronze medals each country has won
medal_counts = df.groupby(['noc','medal']).size()
medal_counts

noc  medal
DEN  Gold      1
FIN  Bronze    5
     Gold      3
NED  Bronze    1
     Silver    1
NOR  Bronze    2
     Gold      5
     Silver    3
dtype: int64

In [ ]:
#Identify countries that have won more than 50 Gold medals.
gold_medal = df[df['medal'] == 'Gold']
gold_medal_counts = gold_medal.groupby('noc').size()
gold_medal_counts

noc
DEN    1
FIN    3
NOR    5
dtype: int64

In [ ]:
#Find the athlete who has won the most medals
athlete_medal_counts = df.groupby('name')['medal'].count()
athlete_with_most_medals = athlete_medal_counts.idxmax()
athlete_with_most_medals

'Kjetil Andr Aamodt'

In [ ]:
#List all events that include the term 'Freestyle' in their name
freestyle_events = df[df['event'].str.contains('Freestyle', case=False)]
freestyle_events['event'].unique()

array(["Swimming Men's 400 metres Freestyle"], dtype=object)

In [ ]:
#Find the top 3 athletes by the total number of medals won in each sport.
athlete_medal_counts = df.groupby(['sport', 'name'])['medal'].count().reset_index()
athlete_rankings = athlete_medal_counts.sort_values(by=['medal'], ascending=False).head(3)
athlete_rankings

            sport                     name  medal
0   Alpine Skiing       Kjetil Andr Aamodt      8
16     Gymnastics  Paavo Johannes Aaltonen      5
29       Swimming     Arvo Ossian Aaltonen      2

In [ ]:
#List athletes who won more than one medal in a single Olympic year
athlete_medal_counts = df.groupby(['year', 'name'])['medal'].count().reset_index()
multi_medal_winners = athlete_medal_counts[athlete_medal_counts['medal'] > 1].sort_values(by='medal',ascending=False)
multi_medal_winners

    year                     name  medal
9   1948  Paavo Johannes Aaltonen      4
30  1994       Kjetil Andr Aamodt      3
4   1920     Arvo Ossian Aaltonen      2
25  1992       Kjetil Andr Aamodt      2
44  2002       Kjetil Andr Aamodt      2

In [ ]:
#Identify countries that have won gold medals in both Summer and Winter Olympics (assuming a 'Season' column exists).
gold_medals = df[df['medal'] == 'Gold']
gold_medal_counts = gold_medals.groupby(['noc', 'season']).size().unstack(fill_value=0)
countries_with_gold_in_both_seasons = gold_medal_counts[(gold_medal_counts['Summer'] > 0) & (gold_medal_counts['Winter'] > 0)]
countries_with_gold_in_both_seasons

season  Summer  Winter
noc
NOR          1       4

In [ ]:
#Calculate the average number of medals won per athlete for each country. 
medal_counts_per_athlete = df.groupby(['noc', 'name'])['medal'].count().reset_index()
average_medals_per_athlete = medal_counts_per_athlete.groupby('noc')['medal'].mean()
average_medals_per_athlete

noc
CHN    0.000000
DEN    0.500000
EST    0.000000
FIN    0.666667
FRA    0.000000
NED    0.400000
NOR    1.111111
ROU    0.000000
USA    0.000000
Name: medal, dtype: float64